<h2>Listing genomes</h2>

<table class="table">
  <tr>
    <th>Organism</th>
    <th>Version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @genomes.each do |genome| %>
  <tr>
    <td><%= genome.organism %></td>
    <td><%= genome.version %></td>
    <td><%= link_to 'Show', genome %></td>
    <td><%= link_to 'Edit', edit_genome_path(genome) %></td>
    <td><%= link_to 'Destroy', genome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Genome', new_genome_path %>
