<p id="notice"><%= notice %></p>

<p>
  <b>Organism:</b>
  <%= @genome.organism %>
</p>

<p>
  <b>Version:</b>
  <%= @genome.version %>
</p>


<%= link_to 'Edit', edit_genome_path(@genome) %> |
<%= link_to 'Back', genomes_path %>
