<% if !params[:search] %>
<%= form_tag features_path, :method => 'get' do %>
  <fieldset>
    <legend>Seach By Name</legend>
    <label>Name</label>
    <%= text_field_tag :search, params[:search] %>
    <%= hidden_field_tag :search_type, 'name' %>
    <span class="help-block">Example: <i>SmedSXL_028951</i></span>
    <%# <label class="checkbox">%>
    <%#   <input type="checkbox"> Check me out%>
    <%# </label>%>
    <button type="submit" class="btn">Search</button>
  </fieldset>
<% end %>

<%= form_tag annotations_path, :method => 'get' do %>
  <fieldset>
    <legend>Seach By Protein Homology</legend>
    <label>Protein Homology</label>
    <%= text_field_tag :search, params[:search] %>
    <%= hidden_field_tag :search_type, 'homology' %>
    <span class="help-block">Example: <i>Glycosyltransferase</i> </span>
    <%# <label class="checkbox">%>
    <%#   <input type="checkbox"> Check me out%>
    <%# </label>%>
    <button type="submit" class="btn">Search</button>
  </fieldset>
<% end %>

<%= form_tag annotations_path, :method => 'get' do %>
  <fieldset>
    <legend>Seach By GO Term</legend>
    <label>GO Term</label>
    <%= text_field_tag :search, params[:search] %>
    <%= hidden_field_tag :search_type, 'go' %>
    <span class="help-block">Example: <i>membrane</i> </span>
    <%# <label class="checkbox">%>
    <%#   <input type="checkbox"> Check me out%>
    <%# </label>%>
    <button type="submit" class="btn">Search</button>
  </fieldset>
<% end %>
<% else %>
  <%= link_to 'restart', features_path, :class => 'btn' %>

  <br/><br/>

  <% if @features.size > 0 %>
<table class='table'>
  <tr>
    <th>Name</th>
    <th>Genome</th>
  </tr>

<% @features.each do |feature| %>
  <tr>
    <td><%= link_to feature.name, feature %></td>
    <td><%= feature.genome.organism %></td>
  </tr>
<% end %>
</table>

<% else %>

  <p class='warning'>No results found</p>

  <%= link_to 'try again', features_path %>

<% end %>

<% end %>
<br /> <br/>
<%= link_to 'New feature', new_feature_path %>
