<p id="notice"><%= notice %></p>

<p>
<b>Name:</b>
<%= @feature.name %>
</p>

<p>
<b>Type:</b>
<%= @feature.category %>
</p>

<p>
<b>Genome:</b>
<%= @feature.genome.organism %>
</p>

<% if @feature.transcripts.size > 0 %>
  <p>
  <b>Transcript:</b>
  <%= @feature.transcripts %>
  </p>
<% end %>

<h2>Annotations</h2>

<%= render :partial => 'annotations/annotations', :locals => {:annotations => @annotations} %>
