<%= link_to "smedgd", root_path, :class => 'brand', :id => 'top_logo' %>
<ul class="nav">
    <li>
    <%= link_to('gbrowse', page_path('soon')) %>
    </li>
    <li>
    <%= link_to('search', features_path) %>
    </li>
    <li>
    <%= link_to('blast', page_path('soon')) %>
    </li>
    <li>
    <%= link_to('download', page_path('download')) %>
    </li>
    <li>
    <%= link_to('interactome', page_path('soon')) %>
    </li>
    <li>
    <%= link_to('gene ontology', page_path('soon')) %>
    </li>
</ul>
