<%= link_to "smedgd", root_path, :class => 'brand', :id => 'top_logo' %>
<ul class="nav">
    <li>
    <%= link_to('gbrowse') %>
    </li>
    <li>
    <%= link_to('search', genes_path) %>
    </li>
    <li>
    <%= link_to('blast') %>
    </li>
    <li>
    <%= link_to('download', page_path('download')) %>
    </li>
    <li>
    <%= link_to('interactome') %>
    </li>
    <li>
    <%= link_to('gene ontology') %>
    </li>
</ul>
