<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "SmedGD" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="wrap">
    <header class="navbar">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
        <div class="container">
          <div class="content">
            <div class="row">
              <div class="span12">
                <%= render 'layouts/messages' %>
                <%= yield %>
              </div> <!--! end of .span12 -->
            </div> <!--! end of .row -->
          </div> <!--! end of .content -->
        </div> <!--! end of .container -->
        <div id="push"></div>
      </div> <!--! end of #main -->
    </div> <!--! end of #wrap -->

      <div id="footer">
        <div class="container">
          <p><%= link_to "About", page_path("about") %> | <%= link_to "Help", page_path("help") %></p>
        </div>
      </div> <!--! end of footer -->
  </body>
</html>
